doctype 5
html
	head
		meta(charset='UTF-8')
		title Home
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		script(src="libs/jquery.min.js")
		script(src="libs/three.min.js")
		script(src="index.js")

	body Ja
		div#container
