doctype 5
html
	head
		meta(charset='UTF-8')
		title Home
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		script(src="libs/jquery.min.js")
		script(src="libs/three.min.js")
		script(src="libs/kinetic-v4.7.3.min.js")
		script(src="index.js")
		script#vertex_shader(type="x-shader/x-vertex").
			varying vec2 vUv;
			varying vec3 vNormal;
			varying vec3 vViewPosition;
			void main() {
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				vUv = uv;
				vNormal = normalize( normalMatrix * normal );
				vViewPosition = -mvPosition.xyz;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
		script#fragment_shader(type="x-shader/x-fragment").
			uniform sampler2D texture;
			uniform sampler2D texture2;
			varying vec2 vUv;
			varying vec3 vNormal;
			varying vec3 vViewPosition;
			void main() {
				vec4 tColor = texture2D( texture, vUv );
				gl_FragColor = tColor;
			}


	body
		table
			tr
				td 2d
				td 3d
				td Plan
				td test
			tr
				td(style="border:5px solid red;")
					span#floorplan
				td
					span#container
				td
					span
						textarea#text(rows=22, cols=50)
							| Wall
							| 	start: 0, 240, 0
							|	end: 270, 240, 0
							|	height: 270
							|	width: 44
							| Wall 
							|	start: 0, 0, 0, 
							|	end: 0, 240, 0,
							|	height: 270
							|	width: 44
							| # Wall, 270, 240, 270, 0, 270, 10
							| # Wall, 0, 0, 105, 0, 270, 10
							| # Wall, 175, 0, 270, 0, 270, 10
