doctype 5
html
	head
		meta(charset='UTF-8')
		title Home
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		script(src="libs/jquery.min.js")
		script(src="libs/three.min.js")
		script(src="libs/kinetic-v4.7.3.min.js")
		script(src="index.js")

	body
		table
			tr
				td 2d
				td 3d
				td Plan
			tr
				td
					span#floorplan
				td
					span#container
				td
					span
						textarea#text(rows=22, cols=50)
							| Wall, 0, 240, 270, 240, 270, 44
							| Wall, 0, 0, 0, 240, 270, 44
							| Wall, 270, 240, 270, 0, 270, 10
							| Wall, 0, 0, 105, 0, 270, 10
							| Wall, 175, 0, 270, 0, 270, 10
